[Unit]
Description=Set time zone information
After=syslog.target local-fs.target
ConditionPathExists=/etc/sysconfig/timezone

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/timezone
ExecStart=/lib/systemd/pld-timezone

[Install]
WantedBy=basic.target
